<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../assets/main.css">
	<title>Categorias da lojinha</title>
</head>
<body>
	<h2>Categorias</h2>
	<form id="frmCategoria" action="#" method="post">
		<label for="descricao">Descrição: </label>
		<input type="text" name="descricao" id="descricao" maxlength="30">
		<input type="button" value="Inserir" onclick="save('frmCategoria', '../interfaces/categoria/create.php')">
	</form>
	<script src="../assets/main.js"></script>
</body>
</html>