<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../assets/main.css">
	<title>Níveis de usuários da lojinha</title>
</head>
<body>
	<h2>Níveis de usuários</h2>
	<form id="frmNivelUsuario" action="#" method="post">
		<label for="nivel">Nível: </label>
		<input type="text" name="nivel" id="nivel" maxlength="20">
		<input type="button" value="Inserir" onclick="save('frmNivelUsuario', '../interfaces/nivelUsuario/create.php')">
	</form>
	<script src="../assets/main.js"></script>
</body>
</html>